<h1>Course wise Time Table for {{deptName}}</h1>
<p>Select a semester below to view it's time table.</p>

<table>
  <tr>
    <th colspan="5">UG Time Table</th>
  </tr>
  <tr>
    <th>Course Code</th>
    <th>Course Name</th>
    <th colspan="6">Semester</th>
  </tr>
  <tr ng-repeat="course in dept.courses">
    <td>{{course.courseId}}</td>
    <td>{{course.courseName}}</td>
    <td ng-repeat="sem in course.semesters">
      <a href="#!/sem">{{sem.semesterName}}</a>
    </td>
  </tr>
</table>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
  }
  th,
  td {
    border: 1px solid black;
    padding: 0.5rem;
  }
</style>
